body {
	background-image:url(../images/Menu_bg.gif)
}
* {
	margin:0px;
	padding:0px;
}
.accordion {
	width:188px;
	text-align: center;
	overflow:hidden;
}
.accordion h3 {
	color:#0254a6;
	display:block;
	height:32px;
	line-height:32px;
	cursor:pointer;
	text-decoration:none;
	background-image: url(../images/mainMenu_bg2.gif);
	background-repeat: no-repeat;
}
.accordion h3.active {
	background-image: url(../images/mainMenu_bg1.gif);
}
.accordion ul {
	list-style:none;
	display:none
}
.accordion ul li {
	padding:3px;
	line-height:22px;
	display:block;
}
