/* CSS Document */
.content_main_left{ width:250px; float:left}
.contnet_main_right{ width:698px;  min-height:500px;border:#CCCCCC 1px solid; float:right}
.Menubox{ height:26px;line-height:29px; overflow:hidden; background-image:url(../images/menubox_bg.gif)}
.Menubox_l{ height:26px; width:7px; background-image:url(../images/menubox_l.gif); float:left}
.Menubox_r{ height:26px; width:7px; background-image:url(../images/menubox_r.gif); float:right}

.tabcontent{height:29px; line-height:29px; background-image:url(../images/tabcontent_bg.gif)}
.tabcontent_l{width:7px;height:29px; background-image:url(../images/tabcontent_l.gif); float:left}
.tabcontent_r{width:7px;height:29px; background-image:url(../images/tabcontent_r.gif); float:right}

.sec_l{ width:12px; height:26px; background-image:url(../images/sec_l.gif); float:left}
.sec_bg{ min-width:40px; height:26px; text-align:center;  overflow:hidden; background-image:url(../images/sec_bg.gif); float:left}
.a sec_bg link:{font-size:12px; text-decoration:none;color:#FFFFFF;}
.sec_r{ width:12px; height:26px; background-image:url(../images/sec_r.gif); float:left}
.sec_bg a,.sec_bg a:visited{color:#000000; font-size:14px; text-decoration:none;}

.sec_l1{ width:12px; height:26px; float:left; margin-left:5px;}
.sec_bg1{ min-width:40px; height:26px; text-align:center;  overflow:hidden;  float:left}
.sec_r1{ width:12px; height:26px; float:left}
.sec_bg1 a,.sec_bg1 a:visited{color:#FFFFFF; text-decoration:none;}

.Menubox li{ min-width:50px;height:26px; padding-left:10px; padding-right:10px; float:left; cursor:pointer}
.tabcontent li{ width:900px; height:29px; padding-left:10px;}

.list_title{ height:34px; background-image: url(../images/list_title.gif);}
.list_title_l{width:12px;height:34px; background-image:url(../images/list_title_l.gif); float:left}
.list_title_c{ width:50px;height:34px; display:block;  line-height:32px; text-align:center; background-image: url(../images/list_title_bg.gif); background-position: center; 
background-repeat: no-repeat; float:left}
.list_title_r{width:12px;height:34px; background-image:url(../images/list_title_r.gif); float:left}

.list_page{ height:34px; line-height:34px; padding:0 10px 0 10px; text-align:right; clear:both}
.pic_box{ width:169px; height:285px; float:left;; margin-bottom:10px;}
.pic_box_150{ width:150px; height:280px; margin:3px auto 0 auto; border:1px #CCCCCC solid}
.pic_title{ height:26px; line-height:26px; text-align:center; font-size:14px; clear:both}

