* {
	margin:0;
	padding:0;
	border:0;
	font-size:12px;
	color:#313131;
	list-style:none;
	font-family: Consolas, Arial, Gadget, sans-serif, "微软雅黑", "黑体", "宋体";
}
html {
	height: 100%;
}
.wrap {
	width:1003px;
	margin:0 auto;
}
.wrap_960 {
	width:960px;
	margin:0 auto;
}
/*垂直居中*/
.v_c {
	vertical-align:middle
}
.l {
	float:left
}
.r {
	float:right
}
.cb {
	clear:both
}
.bgc_white {
	background-color:#FFFFFF
}
.t_c {
	text-align:center
}
.space7 {
	width:100%;
	height:7px;
	font-size:1px;
	overflow:hidden;
	clear:both
}
.space15 {
	width:100%;
	height:15px;
	font-size:1px;
	overflow:hidden;
	clear:both
}
/*内容*/
.contain7 {
	padding:7px;
	clear:both;
	line-height:150%
}
.contain7l {
	padding:7px;
	clear:both;
	line-height:150%
}
.contain7l div {
	border-bottom:1px dashed #ccc;
	line-height:180%
}
.contain10 {
	padding:10px;
	clear:both;
	line-height:150%;
	overflow:hidden;
}
.contain20 {
	padding:10px;
	clear:both;
	line-height:150%;
	overflow:hidden;
}
.title_bg {
	width:100%;
	height:30px;
	line-height:30px;
	background-image:url(../images/title_bg.gif);
	border-left: 1px #d3d3d3 solid;
	border-right:1px #d3d3d3 solid;
}
.content {
	width:100%;
	border:1px #d3d3d3 solid;
	border-top:0
}
.title_right {
	margin-right:15px;
	line-height:30px;
	float:right;
	display:inline;
}
/*虚线*/
.deshed {
	width:100%;
	height:30px;
	background-image:url(../images/deshed.gif);
	clear:both
}
.deshed_title {
	width:80px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	font-size:14px;
	font-weight:bold;
	background-color:#FFFFFF;
	float:left
}
/*分隔线*/
.topdashed {
	border-top:1px dashed #ccc;
}
/*鼠标*/
.mouse_pointer {
	cursor:pointer
}
.copyright {
	height:30px;
	text-align:center
}
.input_box {
	border:1px #CCC solid;
	padding-left:3px;
	height:18px;
	line-height:18px;
}
