@charset "utf-8";

.f14 {
	font-size:14px
}
.f12_blue {
	font-size:12px;
	color:#0000FF
}
.f14_blue {
	font-size:14px;
	color:#0000FF
}
.f14b_blue {
	font-size:14px;
	color:#0254a6;
	font-weight:hold
}
.f14b_back {
	font-size:14px;
	color:000000;
	font-weight:hold
}
.f12_zhuhong {
	font-size:12px;
	color:#660000
}
.f14_zhuhong {
	font-size:14px;
	color:#660000
}
.f18_zhuhong {
	font-size:18px;
	color:#660000
}
.f14b_red {
	font-size:14px;
	color:red;
	font-weight:bold
}
.f18_red {
	font-size:18px;
	color:red;
}
.f12_red {
	font-size:12px;
	color:red;
}
.f12_green {
	font-size:12px;
	color:#00FF00
}
.f12_white {
	font-size:12px;
	color:#ffffff
}
.f12_gray {
	color:#666;
	font:12px
}
.f14_gray {
	color:#666;
	font:14px
}
.f14_gold14 {
	font-size:14px;
	color:#FF6600
}
h1 {
	font-size:18px;
	font-family:黑体
}
h2 {
	font-size:16px;
	color:#333;
}
h3 {
	font-size:15px;
}
h4 {
	font-size:14px;
}
h5 {
	font-size:13px;
}
h6 {
	font-size:12px;
}
.b{ font-weight:bold}
.navPoint {
	font-family: Webdings;
	font-size:9pt;
	color:white;
	cursor:hand;
}
