@charset "utf-8";
.btn1 {
	width:109px;
	height:27px;
	text-align:center;
	line-height:30px;
	background-image: url(../images/icon/18.gif);
	font-weight:bold;
	font-size:14px;
	color:#333;
	cursor:pointer;
	overflow:hidden
}
.bg1 {
	background-color:#F7FBFF;
	border:#CCC 1px solid;
	margin:5px;
	width:98%
}
.input_1 {
	border:1px #999 solid;
	height:12px;
	line-height:12px;
	background-color: #FFFFF0;
	padding:3px;
}
.input_2 {
	border:1px #999 solid;
	line-height:18px;
	background-color: #FFFFF0
}
.table_1 {
	background-color:#B7C8D9;
	width:100%;
}
.table_1 td {

}
.td_nav {
	height:24px;
	line-height:24px;
	background-image: url(../images/subMenu_bg.gif)
}
.td_1 {
	height:30px;
	line-height:30px;
	text-align:right;
	background-color: #FFF;
	font-size:14px;
	color:#666
}
.td_2 {
	height:30px;
	line-height:30px;
	background-color:#fff;
	padding-left:5px;
}
.td_3 {
	line-height:30px;
	background-color:#fff;
}
.td_4 {
	line-height:30px;
	font-size:14px;
	color:#666
}
.btn_box_01 {
	width:250px;
	height:128px;
	background-image: url(../images/btn_box_01.gif);
	line-height:150%;
}
.btn_box_02 {
	width:250px;
	height:128px;
	background-image: url(../images/btn_box_02.gif);
	line-height:150%;
}
.explain {
	height:30px;
	line-height:30px;
	color:#666;
}
.banner_01 {
	width:100%;
	height:120px;
	margin:5px;
	background-image: url(../images/banner_01.gif);
	background-repeat:no-repeat;
}
.td_01 {
	background-color:#f0f4f7
}
.td_02 {
	background-color:#e5ecf3
}
.mainMenu{
	width:80px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	background-image:url(../images/mainMenu_bg.gif);
	font-size:14px;
	color:#FFF
}
.mainMenu_en{
	width:80px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	background-image:url(../images/mainMenu_bg_en.gif);
	font-size:14px;
	color:#FFF
}

.over{ background-color:#E7F0F9}
.alt{ background-color:#Fff}

.ButtonCSS {
	font-size:9pt;
	color:#000;
	border: 1px #003399 solid;
	background-color:#FFF;
	CURSOR: hand;
	font-style: normal;
	width:60px;
	height:20px;
	text-align:center;
	line-height:20px;
	margin:3px;
}
